@model MyScimApp.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-social.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/customlayout.css" />
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <script src="~/js/helpers.js"></script>
    <script src="~/js/instant.js"></script>
    <script src="~/js/fido2.login.js"></script>

    
</head>
<body>

    <div id="myModal">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sign in</h4>
                </div>
                <div class="modal-body">

                    <form action="/Account/Login" method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input name="Username" type="text" class="form-control" placeholder="Username" required="required" spellcheck="false" value="@Model.Username">
                        </div>

                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input name="Password" type="password" class="form-control" placeholder="Password" required="required">
                        </div>

                        <div class="form-group small clearfix">
                            <label class="checkbox-inline"><input name="RememberLogin" type="checkbox" value="true"> Remember me</label>
                            <input name="RememberLogin" type="hidden" value="false" />
                            <a href="#" class="forgot-link">Forgot Password?</a>
                        </div>

                        <div>
                            <input name="ReturnUrl" type="hidden" value=@Model.ReturnUrl>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Sign in">
                        </div>
                    </form>

                    <a href="#" class="fido2-link" id="fido2signin">Sign in with a security key.</a>
                    <br />
                    <a href="/Saml2/splogin" class="fido2-link" id="saml2splogin">Sign in as saml2 sp mode.</a>
                    <br />

                    <div class="text-center">
                        <h7>-or-</h7>
                    </div>

                    <a class="btn btn-block btn-social btn-facebook" href="@Url.Action("ExternalChallenge","Account", new { provider = "Facebook", returnUrl = Model.ReturnUrl})" data-form-action>
                        <span class="fa fa-facebook"></span>Sign in with <b>Facebook</b>
                    </a>
                    <br />
                    <a class="btn btn-block btn-social btn-google" href="@Url.Action("ExternalChallenge","Account", new { provider = "Google", returnUrl = Model.ReturnUrl})">
                        <span class="fa fa-google"></span>Sign in with <b>Google</b>
                    </a>
                    <br />

                    <a class="btn btn-block btn-social btn-twitter" href="@Url.Action("ExternalChallenge","Account", new { provider = "Twitter", returnUrl = Model.ReturnUrl})">
                        <span class="fa fa-twitter"></span>Sign in with <b>Twitter</b>
                    </a>
                    <br />

                    <a class="btn btn-block btn-social btn-microsoft" href="@Url.Action("ExternalChallenge","Account", new { provider = "ADFS", returnUrl = Model.ReturnUrl})">
                        <span class="fa fa-windows"></span>Sign in with <b>AD Accounts</b>
                    </a>
                    <br />
                    <a class="btn btn-block btn-social btn-openid" href="@Url.Action("ExternalChallenge","Account", new { provider = "AzureAD", returnUrl = Model.ReturnUrl})">
                        <span class="fa fa-openid"></span>Sign in with <b>Azure AD Accounts</b>
                    </a>
                    <br />



                </div>
                <div class="modal-footer">Don't have an account? <a href="@Url.Action("Register","Account")">Sign up</a></div>
            </div>
        </div>
    </div>
</body>
</html>
