@model MyScimApp.Models.AccountMfaInformation
@{
    Layout = "/Views/AccountManage/_Layout.cshtml";;
    var sharedcodes = new System.Text.StringBuilder();
    for(int i = 0; i < Model.SharedKey.Length; i++)
    {
        sharedcodes.Append(Model.SharedKey.Substring(i, 1));
        if((i+1)%4 == 0)
        {
            sharedcodes.Append(" ");
        }
    }
}


<h4>Enable Multi-Factor Authentication</h4>  
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="qrmesseage">Scan the QR Code or enter this key <br /><kbd id="sharekey1">@sharedcodes</kbd><br /> into your two factor authenticator app. Spaces and casing do not matter.</p>
    <div id="qrCode"></div>
    <div id="qrCodeData" data-url="@Html.Raw(Model.QrlCodeUri)"></div>

    <br />
    <form action="/AccountManage/EnableMfa" method="post">
        <div class="row">
            <div class="col-xs-2">
                <input type="password" class="form-control" placeholder="Verify Code" name="VerifyCode" autocomplete="off">
            </div>
            <div class="col-xs-2">
                <button class="btn btn-info" type="submit" id="button-addon2">Submit</button>
            </div>
        </div>

        <input type="hidden" name="SharedKey" value=@Model.SharedKey.ToString().Replace(" ","")>
        <input type="hidden" name="QrlCodeUri" value=@Model.QrlCodeUri>
    </form>
    <br />

    <div class="text-success">
        <b>@ViewData["Message"]</b><br>
        
        <b>@ViewData["RecoveryCodes"]</b>
    </div>
    <a href="/AccountManage/MyProfile" class="back-link">← Back to menu.</a>

</div>


@section Scripts {

    <script type="text/javascript" src="~/lib/qrcode/qrcode.js"></script>
    <script type="text/javascript">

        window.addEventListener("load", function () {
            console.log("triggered.");
            new QRCode(document.getElementById("qrCode"),
                {
                    text: "@Html.Raw(Model.QrlCodeUri)",
                    width: 150,
                    height: 150
                });

        });


    </script>
}